
.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}

/* navigation style */
ul{
    display: flex;
}
.nav-title{
    font-weight:bolder ;
    font-size: 28px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px ;
}

nav ul li{
    list-style: none;
    align-items: center;
}

nav ul a{
    text-decoration:none ;
}
.dark{
    color: #0D1321;
}

/* shared style */
.btn{
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    padding:17px 24px ;
    font-family: "Azeret Mono", monospace;
    background-color: white;
}

.purpose-heading{
    font-size: 24px;
    font-weight: bold;
    color: rgba(13, 19, 33, 70%);
    width: 390px ;
}

.desciption{
    font-size: 16px;
    font-weight: 400;
    opacity: 70%;
    width:468px ;
    padding-top: 16px ;
    padding-bottom: 32px ;
}

.content{
    padding:15px 20px;
    margin-bottom: 10.5px;
    width: 477px;
}
.text-center{
    text-align: center;
}

a{
    color: #0D1321;
    font-size: 16px;
    font-weight: bold;
}

.skill.title{
    font-weight: bolder;
    font-size: 24px;
}

/* banner styles */

#banner{
    background-image: url(assets/Hero-bg.png);
    /* width: 1440px; */
    height: 652px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
    width: 998px;
    padding: 26px 0 45px 0;
    align-items: center;
}
.banner-highlight{
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}
.group{
    width: 240.28px;
    height: 240px;
    margin: 0 auto;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    width: 852px;
    opacity: 70%;
    text-align: center;
    padding-top: 24px;

}
.btn-primary{
    background-color:#0D1321 ;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
    margin-left: 400px;
}

/* main why web dev? styles */

#one{
    background-color: rgba(13, 19, 33, 2%);
    width: 1140px;
    margin: 74px auto;
    border-radius: 16px;
    border: solid black; 
}
.dev-purpose{
    padding: 80px 97px;
}
.heading {
    margin: 0 auto;
    text-align: center;
}
.lorem-description{
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 48px;
    margin-top: 24px;
    width: 852px;
    opacity: 70%;
    text-align: center;
}
.question{
    font-weight: bolder;
    font-size: 32px;
}

.first-ps{
    width: 850px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius:16px ;
    margin: 0 auto;
}
.second-ps{
    width: 850px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius:16px ;
    margin: 48px auto;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.third-ps{
    width: 850px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius:16px ;
    margin: 32px auto;
    justify-content: space-between;
}

.layer-one{
    width: 274.17px ;
    padding: 48px 48px;
}
.layer{
    width: 240px;
    padding: 48px 48px;
}



/* my inspiration styles */

#two{
    width: 1140px;
    margin: 90px auto;
}
.Inspiration-title{
    text-align: center;
    width: 852px;
    margin: 0 auto;
    font-size: 32px;
    font-weight: bolder;
    padding-bottom: 24px;
}
.inspiration-description{
    padding: 24px 144px;
}

.yt-link{
    border: solid rgba(13, 19, 33, 20%);
    border-radius: 16px;
    width: 1140px;
    height: 614px;
    margin-top: 48px;
}
.main-video{
    border-radius: 16px;
    padding: 32px 32px;
}

/*current skills section */
.skills{
    width: 1140px;
    margin: 151px auto;
}
.skills-container{
    display: flex;
    gap: 24px; ;
}
.bgc-html{
    background-color: rgba(255, 76, 30, 5%);
    width: 364px;
    height: 299px;
    border-radius: 16px;
}
.bgc-css{
    background-color: rgba(0, 76, 232, 5%);
    width: 364px;
    height: 299px;
    border-radius: 16px;
}
.bgc-js{
    background-color: rgba(255, 223, 0, 5%);
    width: 364px;
    height: 299px;
    border-radius: 16px;
}
.skill{
    padding: 40px 40px;
}

.section-title{
    font-size: 32px;
    font-weight: bolder;
}
.section-description{
    font-size: 16px;
    font-weight: 400;
    opacity: 70%;
    width:852px ;
    margin: 0 auto;
    margin-bottom: 48px;
    padding-top: 24px;
}
.skill-description{
    padding-top:8px ;
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: 400px;
    opacity: 70%;
}
.a-padding{
    padding-bottom: 24px;
}

/* next skill section */

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:24px;
}
.next-skills{
    width: 1140px;
    height: 866px;
    margin:111px auto;
}
.next-skill-react{
    width: 1140px;
    border: solid rgba(13, 19, 33, 15%);
    border-radius: 16px;
    margin-top: 48px;
}
.next-skill-node{
    width: 1140px;
    border: solid rgba(13, 19, 33, 15%);
    border-radius: 16px;
    margin-top: 24px;
}
.next-skill-mongo{
    width: 1140px;
    border: solid rgba(13, 19, 33, 15%);
    border-radius: 16px;
    margin-top: 24px;
}
.next-skill-container{
    padding:40px ;
    width: 1060px;
    height:139px;
    align-items: center;
}
.next-skill-description{
    font-size: 16px;
    font-weight: 400;
    opacity: 70%;
    padding: 8px 0;
}

/* footer styles */
.support{
    background-image: url(assets/handshake.jpg);
    width: 1140px;
    height: 313px;
    text-align: center;
    align-items: center;
    border-radius: 16px;
    margin: 49px auto;
}
.support-content{
    width: 1044px;
    align-items: center;
    text-align: center;
    margin: 64px 48px 64px 48px ;
    padding-top: 48px;
}
.support-title{
    /* width: 292px; */
    font-size: 32px;
    font-weight: bold;
    margin-top: 34px;
    color: white;
}
.support-description{
    width: 606px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: white;
    opacity: 70%;
    margin: 0 auto;
    padding-top: 16px ;
}
.feedback{
    width: 684px;
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 24px auto 64px;
    justify-content: center;
}
.feedback-box{
    width: 548px;
    height: 57px;
    border-radius: 8px;
    border: none;
}
.btn-secondary{
    width: 120px;
    height: 57px;
    border-radius: 8px;
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    padding: 17px 20px;
    border: none;
    /* font-family:"Azeret Mono", monospace; */
}
/* bottom styles */

.bottom-bg{
    background-color: rgba(13, 19, 33, 3%);
    /* width: 1440px; */
    height: 100px;
    margin-top: 80px;
}
.bottom-contents{
    width: 1140px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 32px;
}